:root{--celeste:#99D7F1;
    --celeste_oscuro:#1299B7;
    --azul:#0167F8;
    --azul_oscuro:#2225EA;
    --azul_boton:#1177BF;}

@font-face {
    font-family: "atma";
    src: url("../fonts/Atma-Regular.ttf");
}

@font-face {
    font-family: "josefin";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "helvetica-bold";
    src: url("../fonts/HelveticaNeue-Bd.otf");
}

html{box-sizing: border-box;}

body{padding: 0 !important;
     margin: 0 !important;}

.titulo_header{cursor: pointer;}

.bg-azul{background-color: var(--azul);}
.bg-celeste{background-color: var(--celeste);}
.bg-dark-celeste{background-color: var(--celeste_oscuro);}

.nav-item{cursor: pointer;}

.nav-item a:hover{background-color: var(--celeste_oscuro);
                transform:translateY(-5px);
                transition: 0.2s;}

.navbar-nav a{color:#ffffff !important;
            font-family: 'josefin';}

.navbar-nav a:hover{color:#505050 !important;
    font-family: 'josefin';}

.btn-propio-plan{letter-spacing: 1px;
                color:#ffffff;
                border-radius: 15px;
                font-family: "josefin";}

    .btn-propio-plan:hover{color:#ffffff;}

.btn-a{background-color: var(--azul);}

    .btn-a:hover{background-color: #0158d3;
        transform: scale(1.1);}

    .btn-a:active{background-color: #003886;
            transform: scale(1.0);}

.btn-b{background-color: var(--azul_oscuro);}

    .btn-b:hover{background-color: #1d20d1;
        transform: scale(1.1);}

    .btn-b:active{background-color: #003886;
            transform: scale(1.0);}


footer{background-color: rgb(217, 217, 217, .42)}

.fo-texto-a{color: var(--azul);
            font-family: 'josefin';
            font-size: 1.5rem;}

.fo-texto-b{color: var(--celeste_oscuro);
        font-family: 'josefin';
        font-size: 1rem;}

.btn-entrar-admin{background-color: #ffffff;
                    color:var(--azul_oscuro);
                    border-radius: 20px;
                    font-weight: bold;
                    border:0;
                    font-family: 'josefin';}

.btn-entrar-admin:hover{background-color: #79b6f0;
                    transition: 0.4s;}

.fo-none{text-decoration: none;
        color: inherit;}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;}

.p-menu-pequeno{width: 3rem;}

@media screen and (max-width:700px){ /* dispositivo movil*/
    .nav-item{width: 100%!important;
            margin: 0!important;}

    .logo_header{width: 25%;}

    .titulo_header{width: 50%;}

    .btn-propio-plan{display: none;}

    .sm-off{display: none;}
    .sm-on{display: block;}

    .fo-texto-a{font-size: 1rem;}

    #barra{display: none;}

    /* administrador */
    #sidebar{position: fixed;}

    .contenido-admin-encabezado .icono{
        height: 3rem!important;
        margin-left: 0!important;
        display: none;}

    .contenido-admin-encabezado h1{
        margin-left: 0!important;}

    .sidebar{transition: all 0.4s linear;}

    .sidebar-hidden{transform: translateX(-100%);}
    .sidebar-show{transform: translateX(0);}

    .sidebar h4{margin-top: 7rem;}
    .sidebar li{margin-left:1rem;}
    .adm-menu-sm{transition: all 0.5s linear!important;}

}

@media screen and (min-width:701px){ /* pantalla de computador*/
    .p-menu-pequeno{display: none;}
    .opc-secundaria{display: none;}

    .lg-off{display: none;}

}


/* administrador */
.sidebar{
    position: relative;
    background-color: #ffffff;
    height: 100%;
}

.sidebar .side-encabezado{
    color: #1177BF;
    font-family: 'helvetica-bold';
}
.sidebar ul{list-style-type: none;
            padding: 0;
            
            }

.sidebar li{padding: 1rem 0 1rem 2rem;
            display: flex;
            font-family: "helvetica";
            font-weight: bolder;}

.sidebar .icono{fill: #1177BF;
                vertical-align: middle;
                overflow: hidden;
                margin-right: 1rem;
                height: 2rem;}


.sidebar li:hover{background-color: #d9d9d9;
                    border-left:5px solid blue!important;
                    width: 100%;}

.sidebar a{color: #000000;
        text-decoration: none;}

.sidebar .contenido{display: flex;
    margin-left: 17rem;}

.contenido-admin-encabezado{background-color: #ffffff;
                        width: 100%;
                        height: 6rem;}

.contenido-admin-encabezado .icono{fill: #1177BF;
                                vertical-align: middle;
                                overflow: hidden;
                                margin-left: 1rem;
                                height: 5rem;}

.contenido-admin-encabezado h1{margin-left: 1rem;
                            font-family:'helvetica';
                            font-weight: bold;}


.salir{position: absolute;
        bottom: 0;
        margin-right: 2rem;}

.adm-menu-sm{cursor: pointer;} 

html,body{height: 100%;}