#dialog
{
    border-radius:2rem;
    justify-content: center;
    
    border-width: 0.1rem;
   display:inline;}

#elemento

{
    padding: 1rem;
    
    display: inline-block;
}

#i {
    width: 100%;
    padding: 0.4rem 0.4rem;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #motivo
  {
    resize: none;
  }

  #botones
  {
    justify-content: center;
    text-align: center;
  }

