@font-face {
    font-family: "helvetica-bold";
    src: url("../fonts/HelveticaNeue-Bd.otf");
}

.titulo-login{font-family: 'helvetica-bold';
              cursor:default;
              font-size: 2rem;}

body{background: linear-gradient(90deg, #99D7F1 50%, #1177BF 50%);
    display: flex;
    justify-content: center;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* Estas dos lineas cuentan como una      */
   }

.container{width: 70%;}  


.contenedor-form{border-radius: 35px;   
                 margin: auto;
                 overflow: hidden;
                 box-shadow: 10px 300px black;
                 }

.img-logo{cursor: pointer!important;
          margin-top: 1rem;}

.img-lado{object-fit: fill;
    height: 35rem;
    width: 100%;}    

.grupo-icono{position: relative;
            margin: auto;
            margin-bottom: 1rem;
            width: 75%;
            color: #1177BF;
            border: solid black 0px;}

.grupo-icono input{width: 100%;
                font-family: Helvetica;
                padding: 0.5rem;
                color: #1177BF;
                box-sizing: border-box;
                padding-left: 3rem;
                outline: 0;
                background:none;
                border-width: 0 0 1px ;
                border-bottom-color:#D9D9D9 ;}

.grupo-icono i{position: absolute;
            left: 0;
            top:1rem;
            padding: 0 10px;}


.btn-entrar{font-family: 'helvetica-bold';
            font-size: 1.4rem;
            background: #1177BF;
            color: #ffffff;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            padding: 0.3rem 3rem 0.3rem 3rem;}

.btn-entrar:hover{
    background: #0167f8;
    color: #ffffff;
    transition: 0.3s;}

.btn-entrar:active{
    transform: translate(0, 5px);
    transition: 0.3s;}

#linea{ width: 75%;
        margin: auto;
        margin-top: 2rem;
        border-top: solid #D9D9D9 2px;
        padding-top: 0.5rem;}

#linea a{text-decoration: none;
        color: #8F8F8F;}

#linea a:hover{color:#1177BF;
            transition: 0.5s;}

.entrada:focus{border-bottom: solid 2px #1177BF;}
.entrada:hover{cursor: pointer;}
.entrada:hover::placeholder,.entrada:focus::placeholder{color: #1177BF;}

.container{box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}

.mensaje-error{border:none;
                outline: none;
                cursor: default;
                font-size: 1.18;
                font-family: Helvetica, Arial, sans-serif;
                color: rgb(150, 0, 0);}

@media screen and (max-width:700px){/*movil*/
 .container{width: 100%;}
} 